@import "src/styles/variables.scss";

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: $primary-color;
    }
    40% {
        stroke: $seconday-light-color;
    }
    66% {
        stroke: $primary-red-color;
    }
    80%,
    90% {
        stroke: $green-04-color;
    }
}

.wraper{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.loader{
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    transform-origin: bottom center;
    background-color: $disabled-gray-color;
    opacity: 0.6;
}