@import "src/styles/variables.scss";

.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

input{
    width: 24rem;
    font-size: $font-medium;
    font-weight: 600;
}

.p-ripple, .p-paginator{
    font-size: 10rem !important; 
    color: red !important;
}

.card h5{
    font-size: $font-large;
    font-family: $font-family;
    text-align: center;
    margin: 0 0 2.4rem 0;
}