@import "src/styles/variables.scss";

.container{
    height: 100%;
}

.titulo-calendario{
    display: flex;
    flex-direction: column;
    height: 100%;
}

h3{
    font-family: $font-family;
    font-size: $font-large;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}

.container-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45rem;
}

h5{
    font-family: $font-family;
    font-size: $font-large;
    margin: 0;
}

.container-modal .informacion{
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    margin-left: 1rem;
    align-self: flex-start;
    text-align: left;
    p{
        font-size: $font-medium;
        font-weight: 600;
    }
}

#peticiones{
    font-family: $font-family;
    font-size: $font-medium;
    height: 100%;
}

.botones{
    margin-bottom: 1rem;
}

button{
    border: 0.1rem solid $primary-color;
    background-color: $primary-background-color;
    font-size: $font-large;
    font-weight: 500;
    width: 12rem;
    height: 3.6rem;
    font-family: $font-family;
    cursor: pointer;
}

#boton-2{
    margin-right: 2rem;
}

.cancelar{
    color: $primary-background-color;
    border-color: $primary-red-color;
    background-color: $primary-red-color;
}

.carnetizar{
    color: $seconday-light-color;
    border-color: $seconday-light-color;
    font-weight: 700;
}

.terminar{
    color: $green-05-color;
    border-color: $green-05-color;
    font-weight: 700;
}

.reanudar{
    border-color: $green-05-color;
    background-color: $green-05-color;
    color: $primary-background-color;
}

.disabled{
    color: $disabled-gray-color;
    border-color: $disabled-gray-color;
    background-color: $primary-background-color;
    cursor: default;
}

.salir{
    color: $primary-color ;
    margin-right: 2rem;
}