<div class="container">
    <div class="titulo-calendario">
        <h3 *ngIf="user?.role == 2">Calendario de peticiones.</h3>
        <full-calendar #peticiones id="peticiones"[options]='calendarOptions'></full-calendar>
    </div>
    <p-dialog [modal]="true" [draggable]="false" [resizable]="false" [(visible)]="mostrarInfo" [dismissableMask]="true" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}">
        <h3>Peticion del estudiante </h3>
        <div>
            <button label="Cancelar" (click)="mostrarInfo=false" class="cancelar">Cancelar</button>
            <button label="Carnetizate" class="carnetizate">Carnetizate</button>
        </div>
    </p-dialog>
</div>
