<div class="container">
    <div class="titulo-calendario">
        <h3>Calendario de peticiones.</h3>
        <full-calendar #peticiones id="peticiones"[options]='calendarOptions'></full-calendar>
    </div>
    <p-dialog [modal]="true" [draggable]="false" [resizable]="false" [(visible)]="mostrarInfo">
        <div class="container-modal">
            <h5>Información del turno</h5>
            <div class="informacion">
                <p>Codigo del turno: {{turnoSeleccionado.code}}</p>
                <p>Nombre: {{turnoSeleccionado.name}}</p>
                <p>Código del estudiante: {{turnoSeleccionado.username}}</p>
                <p>Estado:
                    <span *ngIf="turnoSeleccionado.status_id == 1" style="color: #0183EF;">Reservado </span>
                    <span *ngIf="turnoSeleccionado.status_id == 2" style="color: #FF9400;">En proceso</span>
                    <span *ngIf="turnoSeleccionado.status_id == 3" style="color: #829F00;">Terminado </span>
                    <span *ngIf="turnoSeleccionado.status_id == 4" style="color: #A50400;">Cancelado </span>
                </p>
            </div>
            <div class="botones">
                <button label="Cancelar" (click)="mostrarInfo=false" class="salir">Salir</button>
                <button id="boton-2" (click)="cancelarReanudarTurno(turnoSeleccionado)" label="Cancelar" [ngClass]="{'cancelar': turnoSeleccionado.status_id != 4, 'disabled':turnoSeleccionado.status_id == 3, 'reanudar': turnoSeleccionado.status_id == 4}" [disabled]="turnoSeleccionado.status_id == 3">
                    <span *ngIf="turnoSeleccionado.status_id == 4">Reanudar</span>
                    <span *ngIf="turnoSeleccionado.status_id != 4">cancelar</span>
                </button>
                <button [disabled]="turnoSeleccionado.status_id == 3 || turnoSeleccionado.status_id == 4" label="Carnetizate" (click)="cambiarEstado(turnoSeleccionado)" [ngClass]="{'carnetizar': turnoSeleccionado.status_id == 1, 'terminar': turnoSeleccionado.status_id == 2, 'disabled':turnoSeleccionado.status_id == 3 || turnoSeleccionado.status_id == 4}">
                    <span *ngIf="turnoSeleccionado.status_id == 1">Carnetizar</span>
                    <span *ngIf="turnoSeleccionado.status_id == 2">Terminar</span>
                    <span *ngIf="turnoSeleccionado.status_id == 3">Carnetizado</span>
                    <span *ngIf="turnoSeleccionado.status_id == 4">Cancelado</span>
                </button>
            </div>
        </div>
    </p-dialog>
</div>
